#set($layout = "/layout/empty_layout.vm")

<html>
	<head></head>
	<body>
        <center><h1>上传文件到本地</h1></center>  
        <form action="${ctx}/file/upload.htm"  method="post" enctype="multipart/form-data" >
			<input type="hidden" name="fileType" value="1" />
			<input type="hidden" name="bizType" value="2" /> 
			<input type="hidden" name="token" value="hooEL7dGUqp5QTn9wvvjuNteZbIlQw2m" /> 
        	选择文件：<input type="file" name="file" /> 
        	<br/><br/>
        	<input type="submit" value="上传" /></form>
        </form>
		
		<br/><br/><br/><br/><hr/>
		
		<center><h1>上传文件到OSS</h1></center>  
        <form action="${ctx}/file/oss/upload.htm"  method="post" enctype="multipart/form-data" >
			<input type="hidden" name="fileType" value="1" />
			<input type="hidden" name="bizType" value="2" /> 
			<input type="hidden" name="token" value="hooEL7dGUqp5QTn9wvvjuNteZbIlQw2m" /> 
        	选择文件：<input type="file" name="file" /> 
        	<br/><br/>
        	<input type="submit" value="上传" /></form>
        </form>
	</body>
</html>